* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to bottom, #a8e063, #56ab2f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.login-box {
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #2d572c;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 2px solid #2d572c;
    outline: none;
    background: transparent;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #666;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    color: #2d572c;
    font-size: 12px;
}

.login-btn {
    background-color: #56ab2f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #45a049;
}
